In [1]:
# ------------------------------------------------------------------
# Setup Cell: Run this first to install required libraries.
# ------------------------------------------------------------------
# The '!' command runs a shell command. We use it to call pip.
# The '-q' flag makes the output "quiet" to keep the notebook clean.

!pip install -q yfinance pandas matplotlib-venn numpy

print("✅ Setup complete. You can now run the rest of the notebook.")

✅ Setup complete. You can now run the rest of the notebook.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
data = yf.download('SPY', start='2022-01-01')
data.columns = data.columns.droplevel(1)
data

C:\Users\Evan Schreiner\AppData\Local\Temp\ipykernel_4828\1240473377.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download('SPY', start='2022-01-01')
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Date
2022-01-03  453.210419  453.343253  449.548394  451.872728   72668200
2022-01-04  453.058594  455.363992  451.189625  454.642960   71178700
2022-01-05  444.358887  453.466551  444.264009  452.688599  104538900
2022-01-06  443.941437  446.673739  441.560154  443.894013   86858900
2022-01-07  442.186340  445.136857  440.820189  443.950964   85111600
...                ...         ...         ...         ...        ...
2025-09-17  657.357544  659.890500  652.491031  658.185266  101952200
2025-09-18  660.429016  663.051750  658.444528  660.060044   90459200
2025-09-19  663.700012  664.549988  660.369995  662.330017   97945600
2025-09-22  666.840027  667.289978  662.169983  662.200012   69452200
2025-09-23  663.210022  667.340027  661.979980  666.719971   71973602

[934 rows x 5 columns]